.footer {
  background-color: rgba(0, 0, 0, 0.233);
  padding: 0;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -38px;
  width: 100%;
 
}
.fot{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 25px;
  position: relative;
  
  
  
}

@media screen and (max-height: 600px) {
  .footer {
    position: static;
  }
}